.note-item {
  position: relative;
  width: calc((100% - 100px) / 3);
  padding: 25px;
  border: 2px solid #000;
}

.note-item__content {
  text-align: justify;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.note-item__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.note-item__close-btn_first,
.note-item__close-btn_second {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 4px;
  background-color: red;
}

.note-item__close-btn_first {
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(45deg);
}

.note-item__close-btn_second {
  transform: translate(-50%, -50%) rotate(-45deg);
}
