* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button,
textarea {
  border: none;
  font-size: inherit;
  background-color: #fff;
}

button:focus,
textarea:focus {
  outline: none;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
